* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Graduate', cursive;
    font-weight: normal;
}

body, input, textarea{
    font-family: 'Roboto', cursive;

}

header {
    padding: 16px 0;
    background-color: #0e6917;
    color: #ecf0f1;
}

    header nav li {
        display: inline;
        margin-left: 16px;
        font-size: 18px;
}

header nav li a {
    color: #ecf0f1; 
    text-decoration: none;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.sst {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sst article img {
    /* height: 180px; */
    width: 80%;
}

.sst article{
    width: 25%;
}
.sst article h3{
    margin-top: 16px;
    margin-bottom: 8px;
}




header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 24px;
}

.brands-list li {
    display: inline;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px   0;
}

section .destaque{
    padding: 60px
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-mothods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #0e6917;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #189624;
}

input:focus, textarea:focus{
    outline: #182C61;
}

footer {
    background-color: #0e6917;
    color: #ecf0f1;
    padding: 16px 0;
}

@media screen and (max-width: 640px){
    header {
    font-size: 1em;
    }
    
    header nav li {
        display: block;
        font-size: 1em;
    }

    .container{
        max-width: 90%;
    }
    .container  img{
        width: 100%;
    }

    section .container {
    display: block;
    font-size: 1em;   
    }

    .contact-mothods {
    display: block;   
    }
    .sst {
    display: block;
    }   

    .sst button{
    margin-bottom: 20px;
    }

    .sst article{
    width: 100%;
    }

    .sst article h3{
    margin-top: 0;
    }

    section .produtos{
    display: block;
    }
    
    .sst article img {
    /* height: 180px; */
    width: 100%;
    }

    .social-links li{
    display: inline;
    }

    .social-links img {
    width: 10%;
    }

    section .destaque{
    padding: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){
    header {
    font-size: 1em;
    }
    
    header nav li {
        display: block;
        font-size: 1em;
    }
    
    .container{
        max-width: 90%;
    }
    .container  img{
        width: 100%;
    }

    section .container {
    display: block;
    font-size: 1em;   
    }

    .contact-mothods {
    display: block;   
    }
    .sst {
    display: flex;
    }   

    .sst button{
    margin-bottom: 20px;
    }

    .sst article{
    width: 48%;
    
    }

    .sst article h3{
    margin-top: 0;
    }

    section .produtos{
    display: block;
    }
    
    .sst article img {
    /* height: 180px; */
    width: 100%;
    }

    .social-links li{
    display: inline;
    }

    .social-links img {
    width: 50px;
    }

    section .destaque{
    padding: 20px;
    }

    #contact .container{
        display: block;
        margin-left: 40px ;
    }

}
